<script id="CreditCardInput-template" type="text/html">
        <label class="section">@Resources.CreditCardInfoCaption</label>
        <table id="CreditCardInputTable" style="width: 50%; min-width: 600px;">
            <tr>
                <td class="leftColumn">
                    @Resources.CreditCardFirstNameCaption
                    <input id="CardHolderFirstName" name="CardHolderFirstName" type="text" class="inputField" data-bind="textinput: viewModel.CardHolderFirstName" data-rule-required="true"/>
                </td>
                <td class="rightColumn">
                    @Resources.CreditCardLastNameCaption
                    <input id="CardHolderLastName" name="CardHolderLastName" type="text" class="inputField" data-bind="textinput: viewModel.CardHolderLastName" data-rule-required="true"/>
                </td>
            </tr>
            <tr>
                <td class="leftColumn">
                    @Resources.CreditCardNumberCaption
                    <label data-bind="text: viewModel.CardTypeCaption"></label>
                    <input id="CardNumber" name="CardNumber" type="text" class="inputField" data-bind="textinput: viewModel.CardNumber" data-rule-required="true" data-rule-creditcard="true"/>
                </td>
                <td class="rightColumn">
                    @Resources.CreditCardExpirationDateCaption
                    <br />
                    <div class="expiryMonthContainer">
                        <select class="inputField" data-bind="options: viewModel.Months, value: viewModel.Month"></select>
                    </div>
                    <div class="expiryYearContainer">
                        <select class="inputField" data-bind="options: viewModel.Years, value: viewModel.Year"></select>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="leftColumn">
                    <label>@Resources.CreditCardCVNCaption</label><br />                    
                    <input id="CardCvn" name="CardCvn" type="text" class="inputField" data-bind="textinput: viewModel.CardCvn" data-rule-required="true" data-rule-digits="true" data-rule-minlength="3" data-rule-maxlength="4"/>                    
                </td>
                <td class="rightColumn">
                    <!-- PayPal Logo -->
                    <a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
                        <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">
                    </a>
                    <!-- PayPal Logo -->
                </td>
            </tr>
        </table>
 </script>