<div id="CustomerRegistrationContainer">    
    
    <label class="section">@Resources.Subscriptions</label>    
    <form id="Form">
        <!-- ko stopBinding: true -->        
        <div id="AddSubscriptionsViewContainer"></div>
        <div id="CustomerProfileContainer"></div>        
        <!-- /ko -->
        <div class="row">
            <input id="Consent" name="Consent" type="checkbox"><label for="Consent" id="ConsentContainer">@Resources.AcceptTerms</label>
        </div>        
        <br /><div id="validation_summary" class="error"></div><br />
        <a id="SubmitButton" class="submitButton" data-bind="click: onFormSubmit">@Resources.Submit</a>
    </form>
    <script>
        $.validator.addMethod("regx", function (value, element, regexpr) {
            return regexpr.test(value);
        }, "@Resources.DomainPrefixValidationMessage");

        $.validator.addMethod("phoneregex", function (value, element, regexpr) {
            return regexpr.test(value);
        }, "@Resources.PhoneValidationMessage");

        $("#Form").validate({
            invalidHandler: function() {
                $("#validation_summary").text("@Resources.InvalidInputInFormCaption");
            },
            errorContainer:"#validation_summary",
            errorPlacement: function (error, element) {
                if (element.attr("name") == "Consent") {
                    error.insertAfter("#ConsentContainer");
                } else {
                    error.insertAfter(element);
                }
            },
            rules: {
                Phone: {
                    required: true,
                    phoneregex: /^[01]?[- .]?(\([2-9]\d{2}\)|[2-9]\d{2})[- .]?\d{3}[- .]?\d{4}$/
                },
                DomainPrefix: {
                    required: true,
                    regx: /^[a-z0-9]+$/i
                },
                Consent: {
                    required: true
                }
            },
            messages: {
                consent: {
                    required: "@Resources.AcceptTermsValidationMessage"
                }
            },
            submitHandler: function (form) {

            }
        });
    </script>
</div>