<div id="CustomerAccountContainer" class="FullSize">
    <!-- ko if: viewModel.ShowProgress() -->
    <div class="Progress FullSize center">
        <img class="verticalCenteredProgress" src="~/Content/Images/Plugins/ripple.gif" />
    </div>
    <!-- /ko -->
    <!-- ko if: viewModel.IsSet() -->
    <div class="subscriptions-content">
        <div class="Padded">
            <div class="row">
                <label class="section">@Resources.LicenseBasedSubscriptionsCaption</label>
            </div>
            <div class="row section-divider"></div>
            <table class="subscriptions-table" cellspacing="1" cellpadding="5">
                <tbody>
                    <tr class="medium-text">
                        <td>
                            <label>@Resources.LicenseNameCaption</label>                            
                        </td>
                        <td>
                            <label>@Resources.LicenseQuantityCaption</label>                                                        
                        </td>
                        <td>
                            <label>@Resources.LicenseStatusCaption</label>                                                        
                        </td>
                        <td class="right-aligned">
                            <label>@Resources.LicenseCreatedDateCaption</label>                                                        
                        </td>
                    </tr>
                    <!-- ko foreach: viewModel.Licenses -->
                    <tr class="SubscriptionRow">
                        <td>
                            <label class="abovemedium-text" data-bind="text: $data.OfferName"></label>
                        </td>
                        <td class="left-aligned">
                            <label data-bind="text: $data.Quantity"></label>
                        </td>
                        <td>
                            <label data-bind="text: $data.Status"></label>
                        </td>
                        <td class="right-aligned">
                            <label data-bind="text: $data.CreationDate"></label>
                        </td>
                    </tr>
                    <!-- /ko -->
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="border-divider"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="subscriptions-content">
        <div class="Padded">
            <div class="row">
                <label class="section">All Licenses</label>
            </div>
            <div class="row section-divider"></div>
            <table class="subscriptions-table" cellspacing="1" cellpadding="5">
                <tbody>
                    <tr class="medium-text">
                        <td>
                            <label>@Resources.LicenseNameCaption</label>                            
                        </td>
                        <td>
                            <label>@Resources.LicenseQuantityCaption</label>                                                        
                        </td>
                        <td>
                            <label>@Resources.LicenseStatusCaption</label>                                                        
                        </td>
                        <td class="right-aligned">
                            <label>@Resources.LicenseCreatedDateCaption</label>                                                        
                        </td>
                    </tr>

                    <!-- ko foreach: viewModel.Licenses -->
                    <tr class="SubscriptionRow">
                        <td>
                            <label class="abovemedium-text" data-bind="text: $data.OfferName"></label>
                        </td>
                        <td class="left-aligned">
                            <label data-bind="text: $data.Quantity"></label>
                        </td>
                        <td>
                            <label data-bind="text: $data.Status"></label>
                        </td>
                        <td class="right-aligned">
                            <label data-bind="text: $data.CreationDate"></label>
                        </td>
                    </tr>
                    <!-- /ko -->
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="border-divider"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- /ko -->
</div>
